html
  font-size 62.5%

body
  background url('images/background2.jpg') center no-repeat;
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family: proxima-nova, sans-serif;
  font-weight: 300
  font-style: normal
  font-size: 12px
  
h1
  font-family: proxima-nova, sans-serif;
  font-weight: 700
  font-style: normal
  font-size: 40px
  text-align: center
  margin 0
  color: #593511


h2
  font-family: proxima-nova, sans-serif;
  font-weight: 500
  font-style: normal
  font-size: 20px;
  

h3
  font-family: proxima-nova, sans-serif;
  font-weight: 700
  font-style: normal
  font-size: 14px
  margin: 0

h4
  text-align center
  margin-top 0
  font-family: adobe-handwriting-frank,sans-serif;
  font-weight: 400
  font-style: normal
  font-size: 30px
  padding 20px 92px 0 92px
  line-height: 40px
  color: white


h5
  font-family: proxima-nova, sans-serif;
  font-weight: 300
  font-style: normal
  font-size: 12px
  margin: 0

h6
  font-family: proxima-nova, sans-serif;
  font-weight: 700
  font-style: normal
  font-size: 28px
  margin 0
  color: #593511
  text-align: center
  padding-top: 15px



